extends layout

block content

  div.container
    div.jumbotron
      h2.text-center HTTP Status
      p.lead.text-center
        | Check status code, response headers, redirect location and redirect chain of a HTTP connection.
      form(role="form", action="search", method="GET", class="form-inline centered", id="form")
        div.form-group
          label(for="url", class="sr-only") Check
          input(id="url", type="text", placeholder="http://www.example.com", name="query", class="form-control input-lg")
        div.form-group
          button(type="submit", class="btn btn-primary btn-lg") Check
  
  div.container
    div.text-center
      div(id="errorMessage",class="alert alert-danger", role="alert", style="display:none")
        | Oh snap! Check your url
      span(id="spinner", class="glyphicon glyphicon-refresh glyphicon-spin", style="display:none")
    ul(id="timeline", class="timeline", style="display:none")
