doctype html
html(lang="en" dir="ltr")
  head
    title HON Url Checker
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="Check status code, response headers, redirect location and redirect chain of a HTTP connection.")
    link(rel="stylesheet", href="css/bootstrap.min.css")
    link(rel="stylesheet", href="css/app.css")
  body
    include partials/navbar
    block content
    include partials/footer

    script(src="js/jquery.min.js")
    script(src="js/app.js")
