nav.navbar.navbar-default.navbar-fixed-top
  div.container
    div.navbar-header
      a(href='../', class='navbar-brand') 
        img(src="images/hon-logo.png", height="30", title="Health On the Net", alt="Health On the Net")
